<div class="container bg-light part-narrowing">
  <div class="row pt-3 part-narrowing">
    <div class="col-md-11 offset-md-1 part-narrowing">
      <h4 id="part-narrowing__title">"<%= @part_tag.name %>" タグのパーツ一覧</h4>
    </div>
  </div>
  <div id="part-narrowing__pagenate">
    <%= render 'parts/narrowing_pagenate', parts: @parts %>
  </div>
</div>