<div class="container bg-light post-index">
  <div class="row pt-2 post-index">
    <div class="col-md-11 offset-md-1 post-index">
      <h4 id="post-index__title">投稿一覧</h4>
    </div>
  </div>
  <div id="post-index__pagenate">
    <%= render 'posts/index_pagenate', posts: @posts %>
  </div>
</div>