<div class="container bg-light post-narrowing">
  <div class="row pt-3 post-narrowing">
    <div class="col-md-12 post-narrowing__title">
      <h4 id="post-narrowing__title"><%= @post_tag.name %> タグの投稿一覧</h4>
    </div>
  </div>
  <div id="post-narrowing__pagenate">
    <%= render 'posts/narrowing_pagenate', posts: @posts %>
  </div>
</div>