<% if @model == "post" %>
<div class="container bg-light search-post-index">
  <div class="row pt-3 search-post-index">
    <div class="col-md-12 search-post-index">
      <h4 id="search-post__title">"<%= @value %>" の投稿検索一覧</h4>
    </div>
  </div>
  <div id="search-post__pagenate">
    <%= render 'searchs/search_posts_pagenate', posts: @posts %>
  </div>
</div>
<% elsif @model == "part" %>
<div class="container bg-light search-part-index">
  <div class="row pt-3 search-part-index">
    <div class="col-md-11 offset-md-1 search-part-index">
      <h4 id="search-part__title">"<%= @value %>" のパーツ検索一覧</h4>
    </div>
  </div>
  <div id="search-part__pagenate">
    <%= render 'searchs/search_parts_pagenate', parts: @parts %>
  </div>
</div>
<% end %>
